[defaults]
# Ansible configuration for the roadpass small-ec2-app project
roles_path            = ./roles
host_key_checking     = False
retry_files_enabled   = False
interpreter_python    = auto_silent
stdout_callback       = yaml
display_skipped_hosts = False

[ssh_connection]
pipelining = True
